@import url('https://fonts.googleapis.com/css?family=Barlow|Oxygen|Bellota&display=swap');

/* Base 16 Ocean Color Palette
#eff1f5,#c0c5ce,#2A303C,#222831,#1B1F27,#b48ead,#8fa1b3,#96b5b4
#a3be8c,#ebcb8b,#bf616a
*/

:root {
    --header-bg: #d9d9d9;
    --header-txt: #1B1F27;
    --title-txt: #1B1F27;
    --header-filter-txt: #96b5b4;

    --main-bg: #d9d9d9;
    --sub-bg: #f0f0f0;
    --main-txt: #1B1F27;
}

*:focus { outline: none; }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overflow: hidden;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-bg);
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    opacity: 0.7;
}

#loading-icon {
    margin: auto;
    pointer-events: none;
    width: 100px;
    height: 100px;
}

#main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--main-bg);
    color:  var(--main-txt);
}

#map {
    width: calc(100% - 350px);
    height: calc(600px - 30px);
    background-color: var(--sub-bg);
    box-sizing: border-box;
    float: left;
    border: none;
    outline: none;
}

#header {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

#header-title {
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    color: var(--title-txt);
    line-height: 30px;
    font-weight: bold;
    float: left;
    padding-left: 5px;
}